<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Combined View</title>
    <link rel="stylesheet" href="/static/css/allProjects.css">
</head>
<body>
<div class="container">
    <!-- Sidebar -->
    <aside class="sidebar">
        <a href="/allProjects" class="menu-item active">
            <span class="icon">●</span>
            <span class="text">Projects</span>
        </a>
        <a href="/employees" class="menu-item">
            <span class="icon">○</span>
            <span class="text">Employees</span>
        </a>
        <a href="/allSkills" class="menu-item">
            <span class="icon">○</span>
            <span class="text">Skills</span>
        </a>
        <a href="/adminProfile" class="menu-item bottom">
            <span class="icon">👤</span>
        </a>
    </aside>

    <!-- Main Content -->
    <main class="content">
        <header class="header">
            <h1>Projects</h1>
            <div class="header-actions">
                <a href="/addproject" class="add-project-button">Add Project</a>
                <a href="/logout" class="logout">Log out</a>
            </div>
        </header>
        <div class="main-area">
            <h1 th:text="'Welcome, ' + ${session.adminUsername} + '!'"></h1>
            <h2>Your projects</h2>
            <table>
                <thead>
                <tr>
                    <th>Project Name</th>
                    <th>End Date</th>
                    <th>Total Price</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="project : ${projects}">
                    <td th:text="${project.name}"></td>
                    <td th:text="${project.endDate}"></td>
                    <td th:text="${project.totalPrice}">0.0</td>
                    <td>
                        <a th:href="@{/project/{id}(id=${project.projectID})}" class="view-details">Administrate Project</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </main>
</div>
</body>
</html>

