<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="eng">
<head>
    <title>Combined View</title>
    <link rel="stylesheet" href="/static/css/allProjects.css">
</head>
<body>
<div class="container">
    <!-- Sidebar -->
    <aside class="sidebar">
        <a href="/allProjects" class="menu-item active">
            <span class="icon">●</span>
            <span class="text">Projects</span>
        </a>
        <a href="/employees" class="menu-item">
            <span class="icon">○</span>
            <span class="text">Employees</span>
        </a>
        <a href="/adminProfile" class="menu-item bottom">
            <span class="icon">👤</span>
        </a>
    </aside>

    <!-- Main Content -->
    <main class="content">
        <header class="header">
            <h1>Employees</h1>
            <div class="header-actions">
            <a href="/createEmployee" class="add-project-button">Create Employee</a>
            <a href="/logout" class="logout">Log out</a>
            </div>
        </header>
        <div class="main-area">
            <h1 th:text="'Logged in as ' + ${session.adminUsername}"></h1>
            <h2>Employees available</h2>
            <table>
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Skill</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="employee : ${employees}">
                    <td><a th:href="@{/profile/{id}(id=${employee.employeeID})}" th:text="${employee.name}"></a></td>
                    <td th:text="${employee.skill}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </main>
</div>
</body>
</html>


</body>

</html>